<div class="container-fluid">
    <div class="wrapper">
        <div class="sidebar">
            <h2><img src="../../../assets/DashLogo/image1.png" alt="Trustbanc"><img src="../../../assets/DashLogo/image2.png" alt="Trustbanc"></h2>
            <ul>
                <li><a href="#"><img src="../../../assets/dashboard/Vector.png" alt="">Dashboard</a></li>
                <li><a href="#"><img src="../../../assets/dashboard/Vector(1).png" alt="">Individual</a></li>
                <li><a href="#"><img src="../../../assets/dashboard/Vector(2).png" alt="">Corporate</a></li>
                <li><a href="#"><img src="../../../assets/dashboard/Vector(3).png" alt="">Activities</a></li>
                <li><a href="#"><img src="../../../assets/dashboard/Vector(4).png" alt="">Transaction</a></li>
                <li><a href="#"><img src="../../../assets/dashboard/Vector(5).png" alt="">Approval Queue</a></li>
                <li><a href="#"><img src="../../../assets/dashboard/Vector(6).png" alt="">Audit Trail</a></li>
                <li><a href="#"><img src="../../../assets/dashboard/Vector(7).png" alt="">Settings</a></li>
            </ul>
        </div>
        <div class="maincontent">
            <div class="header">
                <h2>Welcome!</h2>
                <div class="profile">
                <div class="bell"><img src="../../../assets/Vector(3).png" alt="bell"></div>
                <!-- <div class="avater" [style.background-image]="'url(../../../assets/' + savatar.svg + ')'"></div> -->
                <div class="avater"><img style="border-radius: 50%; width: 35px; height: 35px;" src="../../../assets/avater.png" alt="profile picture"></div>
                <ul>
                    <li><a href="#">Unyime <img src="../../../assets/Vector(1).png" alt="dropdown"></a>
                        <ul>
                            <li><a href="#">Account</a></li>
                            <li><a href="#">Logout</a></li>
                        </ul>
                    </li>
                </ul>
                </div>
            </div>
            <div class="show">
                <p>show:</p>
                <ul>
                    <li><a href="#">Today<img src="../../../assets/Vector(1).png" alt="dropdown"></a>
                        <ul>
                            <li><a href="#">Last week</a></li>
                            <li><a href="#">Last month</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="rows">
                <div class="row1">
                    <div class="carditem">
                        <div class="circle-icon" style="background: rgba(87, 24, 255, 0.12);"><img src="../../../assets/Icons/Vector-7.png" alt="customers"></div>
                        <p>CUSTOMERS</p>
                        <h2>10,000</h2>
                    </div>
                    <div class="carditem">
                        <div class="circle-icon" style="background: rgba(86, 120, 144, 0.12);"><img src="../../../assets/Icons/Vector-6.png" alt="dormant customers"></div>
                        <p>dormant customers</p>
                        <h2>5,000</h2>
                    </div>
                    <div class="carditem">
                        <div class="circle-icon" style="background: rgba(221, 54, 164, 0.12);"><img src="../../../assets/Icons/Vector-5.png" alt="amount saved"></div>
                        <p>amount saved</p>
                        <h2>N500,000,000</h2>
                    </div>
                    <div class="carditem">
                        <div class="circle-icon" style="background: rgba(35, 189, 134, 0.12);"><img src="../../../assets/Icons/Vector-4.png" alt="transactions"></div>
                        <p>transactions</p>
                        <h2>1,000,000</h2>
                    </div>
                </div>
                <div class="row2">
                    <div class="carditem">
                        <div class="circle-icon" style="background: rgba(224, 6, 60, 0.12);"><img src="../../../assets/Icons/Vector-3.png" alt="transaction errors"></div>
                        <p>transaction errors</p>
                        <h2>10,000</h2>
                    </div>
                    <div class="carditem">
                        <div class="circle-icon" style="background: rgba(0, 94, 214, 0.12);"><img src="../../../assets/Icons/Vector.png" alt="users"></div>
                        <p>users</p>
                        <h2>10,000</h2>
                    </div>
                    <div class="carditem">
                        <div class="circle-icon" style="background: rgba(0, 201, 214, 0.12);"><img src="../../../assets/Icons/Vector-1.png" alt="new users"></div>
                        <p>new users</p>
                        <h2>10,000</h2>
                    </div>
                    <div class="carditem">
                        <div class="circle-icon" style="background: rgba(0, 94, 214, 0.12);"><img src="../../../assets/Icons/Vector-2.png" alt="users"></div>
                        <p>users</p>
                        <h2>10,000</h2>
                    </div>
                </div>

            </div>
            
            <div class="table">
                <div class="pre-table">
                    <p>Recent activities</p>
                    <a href="#">View all</a>
                </div>
                <div class="table-row">
                    <table rules="none" class="content-table">
                        <thead>
                            <tr>
                                <th>customer</th>
                                <th>phone</th>
                                <th>email</th>
                                <th>type</th>
                                <th>amount</th>
                                <th>date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Adedeji Olowe</td>
                                <td>08078903721</td>
                                <td>adedeji@trium.com</td>
                                <td>Login</td>
                                <td>500,000.00</td>
                                <td>Jun 15, 2020 3:20AM</td>
                            </tr>
                            <tr>
                                <td>Debby Ogona</td>
                                <td>08160780928</td>
                                <td>debby@gmail.com</td>
                                <td>Transfer</td>
                                <td>99,340.45</td>
                                <td>Jun 15, 2020 3:20AM</td>
                            </tr>
                            <tr>
                                <td>Joseph Benson-Aruna</td>
                                <td>08060009226</td>
                                <td>joeb@wallets.com</td>
                                <td>Bulk Transfer</td>
                                <td>530,000.90</td>
                                <td>Jun 15, 2020 3:20AM</td>
                            </tr>
                            <tr>
                                <td>Tosin Dokunmu</td>
                                <td>09013309226</td>
                                <td>tosin@lendsqr.com</td>
                                <td>Airtime</td>
                                <td>530,000.90</td>
                                <td>Jun 15, 2020 3:20AM</td>
                            </tr>
                            <tr>
                                <td>Grace Effiom</td>
                                <td>07060780922</td>
                                <td>grace@gmail.com</td>
                                <td>Bill payments</td>
                                <td>500,000.00</td>
                                <td>Jun 15, 2020 3:20AM</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>