<div class="container-fluid auth">
    <div class="wrapper">
      <div class="content">
        <div class="logo">
          <img src="../assets/image 1.svg" alt="TrustBanc Logo">
        </div>
        <img src="../../../assets/TrustBanc/patterns.png" alt="pattern" class="pattern1">
        <form class="form-container" action="" #userPost="ngForm" (ngSubmit) ="onSubmit(userPost.value)">
          <h2 class="captext">Set password</h2>
          <p class="subcaptext">Be sure to use something you can easily remember.</p>
          <div class="form-group">
            <img class="pass" src="../assets/Vector.png" alt="password">
            <input type="password" class="form-control" name="password" placeholder="" required ngModel>
            <label class="lab" for="password">Password</label>
          </div>
          <div class="cta">
            <button type="submit">Set Password</button>
          </div>
          <!-- <p class="info"><a href="#">Can't log in?</a></p> -->
        </form>
        <img src="../../../assets/TrustBanc/Group1.png" alt="pattern" class="pattern2">
      </div>
    </div>
  </div>