/* You can add global styles to this file, and also import other style files */
/* body{
    background-color: #920606;
    height: 100%;
    background: url('/src/assets/TrustBanc/pie.png'); 
    url('../assets/TrustBanc/patterns.png'), url('../assets/TrustBanc/Group1.png');
    background-repeat: no-repeat;
    background-position: left bottom;
} */

body{
    font-family: "Roboto";
}